body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  word-break: break-all;
}

main {
  min-height: calc(100vh - 116px);
  margin: 0;
}

main, .navbar {
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
}

header.landing {
  background-image: url('sfgreyscale.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}


header.landing h1{
  font-family: 'Ropa Sans', sans-serif;
  width: 75%;
  max-width: 800px;
  font-size: 2rem;
}

.landing-btn{
  font-size: 1.2rem;
  background-color: #999;
  color: #fff;
  transition: background-color 0.2s ease;
  outline: none;
  border-style: none;
  padding: 1rem;
  margin: 0.5rem;
  text-decoration: none;
  display: inline-block;
}

@media (min-width: 500px) {
  header.landing h1{
    font-size: 4rem;
  }
  .landing-btn{
    font-size: 2rem;
  }
}

.landing-btn:hover{
  background-color: #444;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1.0rem;
  padding-bottom: 0;
  background-color: #000;
  color: #fff;
  margin: 0;
}

footer .fa{
  margin: 0 0.2rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='3.5' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

button.navbar-toggler {
  padding: 0;
  border: none;
}

button.navbar-toggler:focus {
  outline: none;
}

.navbar-nav .nav-link {
  padding-left: 0.5rem;
}

.navbar-brand {
  font-family: 'Ropa Sans', sans-serif;
  padding-left: 1.0rem;
  font-size: 1rem;
}

@media (min-width: 400px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  .navbar-brand {
    font-size: 1.4rem;
  }
}

.navbar-collapse.show {
  z-index: 10;
  background-color: #fff;
}

header.navigation {
 min-height: 60px;
 z-index: 10;
 display: flex;
 flex-direction: row;
 align-content: center;
}

nav {
  flex: 1 1 auto;
}



.map-view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  max-height: calc(100vh - 60px);
}

@media (min-width: 800px) {
  .map-view-container {
    flex-wrap: nowrap;
  }
}

.info-container {
  flex: 1 1 auto;
  max-height: 50vh;
  width: 100%;
}

@media (min-width: 800px) {
  .info-container {
    max-width: 400px;
    min-width: 400px;
    height: auto;
    max-height: calc(100vh - 60px);
  }
}

.info-container .section-heading {
  display: none;
}

@media (min-width: 800px) {
  .info-container .section-heading {
    height: 50px;
    padding-left: 15px;
    display: block;
  }
}

#location-container {
  max-height: 50vh;
  overflow-y: scroll;
}

@media (min-width: 800px) {
  #location-container {
    max-height: calc(100vh - 110px);
  }
}

.location-summary {
  padding: 1.0rem;
  margin: 0;
  transition: background-color 0.2s ease;
}

.location-summary:hover {
  background-color: rgb(235,235,235);
}

.location-summary.active {
  background-color: rgb(235,235,235);
}

.location-summary h3{
  font-size: 1.5rem;
}

.location-summary p{
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
}

.map-details-container {
  flex: 1 1 auto;
  max-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .map-details-container {
    min-width: 400px;
  }
}

#mapid {
  height: calc(50vh - 60px);
  flex: 1 1 auto ;
  min-width: 300px;
  z-index: 1;
}

@media (min-width: 800px) {
  #mapid {
    height: 50vh;
    min-width: 400px;
  }
}

.location-details {
  display: none;
}

@media (min-width: 800px) {
  .location-details {
    height: 50vh;
    padding: 1.0rem;
    display: block;
    max-height: calc(50vh - 60px);
    overflow-y: auto;
  }
  .location-details .hub{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .location-details .hub > div {
    flex: 1 1 auto;
    width: 50%;
    max-width: 600px;
    min-width: 250px;
    display: block;
    padding: 1.0rem;
  }

  .location-details .hub blockquote {
    overflow-y: auto;
    max-height: calc(30vh - 20px);
  }
  .location-details .hub cite {
    float: right;
  }
}

/* List.html Specific Styles */
.gallery-view {
  padding: 2rem;
}

.grid .hub-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Display to be toggled by .active class */
.hub-item, .list .hub-item-container .hub-item {
  display: none;
}

.grid .hub-item-container .hub-item {
  flex: 1 0 10rem;
  max-width: 15rem;
  margin: 1rem;
}

@media (min-width: 800px) {
  .grid .hub-item-container .hub-item {
    flex: 1 0 15rem;
    max-width: 20rem;
  }
}

.grid .hub-item.active {
  display: block;
}

.list .hub-item-container .hub-item {
  background-color: #ddd;
  margin: 1.5rem 1.0rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list .hub-item-container .hub-item.active {
  display: flex;
}

.hub-item-container .hub-item .hub-image-card {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid .hub-item-container .hub-item .hub-image-card {
  padding: 1rem;
  width: 100%;
  height: 10rem;
}

@media (min-width: 800px) {
  .grid .hub-item-container .hub-item .hub-image-card{
    max-width: 100%;
    width: 100%;
    height: 15rem;
  }
}

.list .hub-item-container .hub-item .hub-image-card {
  flex: 1 1 auto;
  padding: 0.3rem;
  max-width: 150px;
  min-width: 100px;
}

.list .hub-item-container .hub-item .hub-image-card.no-img {
  display: none;
}

.hub-item-container .hub-item img{
  max-width:100%;
  max-height:100%;
}

.hub-item-container .hub-item .hub-info {
  background-color: #eee;
  padding: 1rem;
}

.grid .hub-item-container .hub-item .hub-info{
  display: none;
  max-width: 100%;
}

.list .hub-item-container .hub-item .hub-info{
  flex: 1 1 auto;
}

.hub-item-container .hub-item .hub-info p{
  margin-bottom: 0.3rem;
}

.hub-item-container .hub-item .hub-tags {
  background-color: #f6f6f6;
  padding: 1rem;
}

.grid .hub-item-container .hub-item .hub-tags{
  width: 100%;
}

.list .hub-item-container .hub-item .hub-tags{
  flex: 1 1 auto;
}

.tag-badge{
  background-color: #aaa;
  color: #fff;
  padding: 0.1rem 0.3rem;
  margin: 0.2rem;
  display: inline-block;
  font-size: 0.8rem;
}

.tag-badge:hover{
  background-color: #777;
  cursor: pointer;
}


.gallery-view button {
  background-color: #999;
  color: #fff;
  transition: background-color 0.2s ease;
  outline: none;
  border-style: none;
}

.gallery-view button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.hub-item-container .hub-info .map-btn{
  padding: 0.3rem 0.5rem;
}

.hub-filter-container {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hub-filter-container .pillbox{
  min-width: 320px;
  max-width: 900px;
}

.hub-filter-container .clear-btn {
  flex: 1 0 auto;
  margin-left: 1rem;
}

.hub-filter-container label{
  margin-right: 1rem;
}

.grid .expand-btn {
  display: inline-block;
}

.list .expand-btn {
  display: none;
}

.settings {
  width: 100%;
  text-align: right;
}

.settings {
  font-size: 1.2rem;
  padding: 1.0rem;
}

.settings .settings-btn{
  background-color: #fff;
  color: #555;
  margin-left: 1.0rem;
}

.settings .settings-btn:hover{
  background-color: #fff;
  color: #000;
}

.contact-us {
  padding-top: 30px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .hub-item-container .hub-item img{
       width: 100%;
     }
}
